<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8wOvpuCuykucqP1qU9QCV94eAnZw8EYU</string>
	<key>GCM_SENDER_ID</key>
	<string>996512682328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bulkdev.tictacowl</string>
	<key>PROJECT_ID</key>
	<string>tictacowl</string>
	<key>STORAGE_BUCKET</key>
	<string>tictacowl.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996512682328:ios:9cd7d918a19e01e081d52d</string>
</dict>
</plist>